.topbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}
nav a {
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
}
@media only screen and (max-width: 576px) {
  .topbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
